<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Trà sữa Bông</title>
</head>

<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light nav1">
            <div class="collapse navbar-collapse navnav" id="Mainnav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link " href="#">Đăng ký</a>
                    </li>
                    <div class="nav-cach"></div>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Đăng nhập</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="wrapper wr-admin">
        <div id="menu">
            <ul class="menu-ul-ad">
                <li>
                    <a href="index.html"><img class="img-logo" src="/img/logo.png" /></a>
                </li>
                <li class="li1"><a class="menu-a" href="admin-thongke.html">THỐNG KÊ</a></li>
                <li><a class="menu-a" href="admin-taikhoan.html">TÀI KHOẢN</a></li>
                <li><a class="menu-a" href="admin-quanlysanpham.html">SẢN PHẨM</a></li>
                <li><a class="menu-a" href="admin-quanlydonhang.html">ĐƠN HÀNG</a></li>
                <li>
                    <form class="search-form-ad" action="/search" method="GET">
                        <input name="product" class="form-control me-2 input-search-ad" type="text"
                            placeholder="Tìm kiếm" aria-label="Search">
                        <button class="btn btn-outline-success btn-search" type="submit">Tìm kiếm</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>