</div><!-- /.container -->
<br><br><br>
<hr>
<p class="text-center">&COPY;Bông</p>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"> </script>
<script src="//cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
<script src="/js/main.js"></script>
</body>
</html>