<footer>
    <br />
    <div class="span-footer"> </div>
    <div class="text-footer">
        Mọi thông tin thắc mắc cũng như phản hồi, xin quý khách vui lòng liên hệ đến
    </div>
    <div class="img-footer">
        <a href="#" class="a-footer"><img src="../../img/face.png" class="img-face"> Bông food & drink</a>
        <img src="../../img/call.png" class="img-face"> 0907339982
    </div>

</footer>
<script src="/js/bootstrap.min.js"></script>
</html>