<div class="main-container">
    <div class="container profile-user">
        <div class="row">
            <div class="col-3">
                <div class="order-user">
                    <a href="#"><img class="icon_user user-avatar" src="/img/icon_ava1.png"></a>
                    <a class="user-name" href="#"><%= us.fullname%></a>
                </div>
                <div class="order-list">
                    <div class="menu-list-entry">
                        <a class="menu-item-list" href="#">
                            <span><img class="icon_user icon-account" src="/img/icon-account.png"></span>
                            <span class="name-list">Tài khoản của tôi</span>
                        </a>
                    </div>
                    <div class="menu-list-body">
                        <div><a class="menu-list-detail" href="/user">Hồ Sơ</a></div>
                        <div><a class="menu-list-detail" href="/user/change-info">Thay đổi thông tin</a></div>
                    </div>
                    <div class="menu-list-entry">
                        <a class="menu-item-list" href="purchase.html">
                            <span><img class="icon_user icon-account" src="/img/icon-list.png"></span>
                            <span class="name-list">Đơn Mua</span>
                        </a>
                    </div>
                    <div class="menu-list-entry">
                        <a class="menu-item-list" href="noti.html">
                            <span><img class="icon_user icon-account" src="/img/icon-noti.png"></span>
                            <span class="name-list">Thông báo</span>
                        </a>
            </div>
        </div>
    </div>