
body {
    font-size: 18px; 
    max-width: 100%;
    padding: 0;
    padding-left: 0;;
    margin: 0;
    margin-left: 0;
      
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: #333; }
  
  a:hover {
    color: indianred; }
  
  .wrapper {
    margin: 0 auto;
    text-align: center;
   }
  
  .nav-cach {
    background: #eee;
    padding: 1px;
    margin: 5px; }
  
  .navnav {
    justify-content: flex-end;
    margin-right: 20px; }
  
  .nav1 {
    font-size: 16px;
    padding: 0px; }
  .menu-div{
    display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: nowrap;
  }
  #menu ul {
    background: #fff;
    list-style-type: none;
    text-align: center; 
    margin-left: 40px;
  }
  
  .li1 {
    margin-left: 30px !important; }
  
  #menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: -5px; }
  
  .menu-a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #333;
    display: block; }
  
  .menu-a:hover {
    transition: .2s ease-in-out;
    background: indianred;
    color: #fff; }
  
  .menu-ul {
    margin-right: 30px; }
  
  .img-logo {
    width: 100%;
    margin: 10px; }
  
  .input-search {
    display: inline-flex;
    width: 70%;
    margin-left: 10px; }
  
  .btn-search {
    background: indianred;
    border-color: #333;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border-radius: 0px; 
    max-height: 40px;}
  
  .btn-search:hover {
    background: indianred; }
  
  .input-search:focus {
    color: #333;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(37, 35, 35, 0.3); }
  
  .btn-search:focus {
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(37, 35, 35, 0.3); }
  
  .profile-menu {
    list-style: none;
    float: left;
    margin-top: 20px;
    width: 200px;
    margin-left: 60px; }
  
  .btn-drop {
    font-size: 16px;
    font-weight: 500;
    background: indianred;
    border-radius: 0px; }
  
  .btn-drop:hover {
    background: indianred;
    color: #fff; }
  
  .btn-drop:focus {
    background: indianred;
    outline: 0;
    box-shadow: none; }
  
  .nut_dropdown {
    background-color: indianred;
    color: white;
    padding: 20px;
    font-weight: 500;
    font-size: 16px;
    border: none;
    margin-left: 100px;
    margin-top: 20px; }
  
  .dropdown {
    margin-left: -200px;
    position: relative;
    display: inline-block; }
  
  .noidung_dropdown {
    margin-left: 100px;
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 235px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1; }
  
  .noidung_dropdown a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block; }
  
  .noidung_dropdown a:hover {
    background-color: #ddd; }
  
  .dropdown:hover .noidung_dropdown {
    display: block; }
  
  .dropdown:hover .nut_dropdown {
    background-color: indianred; }
  
  .img-drop {
    width: 15px;
    margin-right: 7px;
    margin-bottom: 3px;
    filter: invert(1); }
  
  .slide-show {
    
    float: right;
    margin-top: 20px;
   }
  
  .mySlides {
    margin-right: 100px;
      display: none;
      width: 600px;
      height: 400px;
      object-fit: cover;
      object-position: 50% 60%;}
  
  .img-face {
    width: 100%; }
  
  .body-slide {
    max-width: 100%;
    height: 500px; 
  }
  
  h2 {
    text-align: center;
    font-weight: 700;
    font-size: 48px; }
  
  .span-line {
    background: #333;
    padding: 1px;
    margin: 10px 50px; }
  .list-menu{
    position: sticky;
      display: inline-block;
      width: auto;
  }
  .list-menu-ul {
    text-align: center; }
  
  .list-menu-a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #333;
    display: block; }
  
  .list-menu-a:hover {
    color: indianred; }
  
  .list-menu-ul > li {
    color: #f1f1f1;
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    margin-left: -5px; }
  
  .li-center {
    text-align: center !important; }
  
  .list-item {
      display: flex;
      text-align: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  .img-item {
      max-width: 300px;
      width: 300px;
      height: 300px;
      width: auto;
  }
   .img-item:hover{
    border: 2px solid indianred;
   }
  .list-item-div{
    width: 30%;
  }
  .span-footer {
    background: #333;
    padding: 1px;
    margin: 10px 50px; }
  
  .img-footer {
    margin: 10px 70px;
    font-size: 14px; 
    text-align: left;
  }
  
  .img-face {
    width: 2%; }
  
  .text-footer {
    font-size: 14px;
    font-style: italic;
    margin: 10px 70px; 
    text-align: left;
  }
  
  .a-footer {
    margin-right: 100px; }
  
  .menu-show {
    max-width: 70%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
  
  .body-slide-menu {
    max-width: 100%;
    height: 2250px; }
  
  .buttons_added {
    opacity: 1;
    display: inline-block;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
    vertical-align: top;
    width: 100%; 
    margin-right: -150px;
  }
  
  .is-form {
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    height: 2.2rem;
    width: 1.9rem;
    padding: 0;
    text-shadow: 1px 1px 1px #fff;
    border: 1px solid #ddd; }
  
  .is-form:focus, .input-text:focus {
    outline: none; }
  
  .is-form.minus {
    border-radius: 4px 0 0 4px;
    height: 30px; }
  
  .is-form.plus {
    border-radius: 0 4px 4px 0;
    height: 30px; }
  
  .input-qty {
    background-color: #fff;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    padding: 0;
    height: 30px;
    width: 50%; }
  
  .input-qty::-webkit-outer-spin-button, .input-qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  
  .tr-item {
    height: 70px; }
  
  .col-th {
    text-align: center; }
  
  .row1 {
    /* padding-top: 70px !important; */
    text-align: center; }
  
  .table {
    margin-top: 100px;
    margin-left: 75px;
    width: 90%; }
  
  .rowth {
    width: 15%; }
  
  .img-th {
    width: 100%; }
  
  .btn-xoa {
    border: none; }
  
  .btn-xoa:focus {
    box-shadow: none; }
  
  .total-frame {
    height: 150px;
    min-width: 400px;
    float: right;
    margin-right: 50px;
    background: rgba(205, 92, 92, 0.062);
    padding: 20px; }
  
  .wrapper1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center; }
  
  .flex-total{
    min-height: 299px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }
  .text-total {
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px; }
  
  .span-total {
    height: 2px;
    background: rgba(0, 0, 0, 0.349);
    margin: 10px; }
  
  .total {
    display: flex;
    justify-content: space-between; }
  
  h5 {
    padding: 10px;
    margin-left: 10px; }
  
  .btn-total {
    margin-top: 30px;
     min-width: 423px;
    background: indianred;
    font-weight: 500;
    border: none;
    border-radius: none; 
  }
  
  .btn-total:hover {
    background: indianred; }
  
  .btn-total:focus {
    background: indianred;
    box-shadow: none; }
  
  .btn-cont {
    margin-left: 80px;
    font-weight: 500;
    background: rgba(205, 92, 92, 0.062);
    width: 250px;
    border: none;
    border-radius: none;
    color: #333; }
  
  .btn-cont:hover {
    background: indianred; }
  
  .btn-cont:focus {
    background: indianred;
    box-shadow: none; }
  
  .logo-login {
    text-align: center;
    margin-top: 50px; }
  
  .body-login {
    text-align: center; }
  
  .login-frame {
    max-width: 440px;
    width: auto;
    padding: 20px;
    margin: 20px 420px; }
  
  .input-login {
    margin-top: 20px;
      min-width: 400px;
      width: auto;
      border-radius: 10px; }
  
  .btn-login {
    margin-top: 30px;
    width: 400px;
    background: indianred;
    font-weight: 500;
    border: none;
    border-radius: 15px; }
  
  .btn-login:hover {
    background: indianred; }
  
  .btn-login:focus {
    background: indianred;
    box-shadow: none; }
  
  .link-login {
    min-width: 400px;
    width: auto;
    margin-top: 10px;
    font-size: 14px;
    font-style: italic; }
  .succes-alert{
    margin: 25px 0px 0px 0px;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    padding: 3px;
    font-style: italic;
  }
  .app-main{
    min-width: 1200px;
    width: auto;
  }
  .form-login{
    justify-content: center;
      display: flex;
  }
  .form-login1{
    justify-content: center;
      display: flex;
      flex-direction: column;
  }
  .profile-menu-user {
    list-style: none;
      float: right;
      margin-right: 10px;
      width: 200px;
      margin-top: 10px;
  } 
  .profile-menu-list{
    position: absolute;
    margin-top: -5px;
  }
  .submenu{
    position: absolute;
      list-style: none;
      padding: 5px;
      box-shadow: 2px 2px 2px rgb(0 0 0 / 10%);
      margin-top: 26px;
      background: #fff;
      display: none;
      z-index: 1;
  }
  
  .submenu a{
    padding: 5px 10px;
    display: block;
  }
  .submenu a:hover{
    background: indianred;
    color: #fff;
  }
  
  .profile-menu-user:hover .submenu {
    display: block; }
  
  .btn-hello{
    background: rgba(248 249 250);
    border: 1px solid rgba(248 249 250);
  }
  .search-form{
    display: flex;
    min-width: 520px;
    justify-content: flex-end;
  }
  .form-dh{
    min-width: 600px;
    margin-left: 80px;
    padding: 30px;
    min-height: 650px;
  
  }
  .dh-frame{
    max-width: 700px;
      margin-left: 140px;
      padding: 10px;
      margin-top: 70px;
  }
  .wrapper-dh{
    display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      margin-left: 40px;
  }
  .dh-h6{
    margin-top: 10px;
  }
  .total1{
    height: auto;
    margin-top: 60px;
  }
  .div-total{
    background: #333;
      height: 1px;
      min-width: 1130px;
  }
  .text-total1{
    font-weight: 400;
  }
  .wrapper2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
  }
  .item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin-top: 70px;
  }
  
  .form-check-input:checked{
    background: indianred;
    border-color: indianred;}
  .title-h5{
    color: indianred;
    font-weight: 700;
  }
  .title-h3{
    font-weight: 700;
  }
  .item-table{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 200px;
  }
  .input-qty{
    width: 30%;
  }
  .btn-detail{
    min-width: 200px;
    background: indianred;
    font-weight: 500;
  }
  .btn-detail:hover{
    background: indianred;
  }
  .btn-detail:focus{
    background: indianred;
  }
  .topping-form{
    display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      min-width: 500px;
      max-height: 250px;
      align-content: space-between;
  }
  .img-item1{
    max-width: 500px;
      width: auto;
  }
  .table-item{
    max-width: 500px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  .item-title{
    text-align: start;
    margin-left: 30px;
  }
  .size-form{
    display: flex;
      justify-content: space-between;
      margin-right: 76px;
  }
  .da-form{
    display: flex;
    justify-content: space-between;
    margin-right: 124px;
  }
  .btn-plus1{
    opacity: 1;
    display: inline-flex;
    white-space: nowrap;
    vertical-align: top;
    max-width: 100%;
    width: 200px;
    margin-top: 7px;
  }
  .item-table1{
    margin-top: 20px;
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
  }
  .dropdown-user{
    position: relative;
    display: inline-block;
    margin-left: -4px;
  }
  .container.user{
    margin-top: 50px;
    background-color: #fdf4f4;
    min-height: 500px;
  }
  .order-user{
    padding-left: 20px;
    font-weight: 500;
    border-bottom: 1px solid rgb(202, 202, 202);
  }
  .order-list{
    margin-top: 20px;
  }
  .menu-list-entry{
    font-size: 16px;
    font-weight: 500;
  }
  .menu-list-body{
    margin: 5px 30px;
    font-size: 14px;
  }
  .menu-list-detail{
    margin: 10px 0;
  }
  .icon-account{
    width: 23px;
    border-radius: 50%;
    padding-bottom: 4px;
  }
  .user-avatar{
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 5px;
  }
  .user-name{
    padding-left: 5px;
    color: indianred;
  }
  .status-bar{
    box-sizing: border-box;
    min-width: 0;
    position: relative;
    margin-top: 5px;
  }
  
  .stt-list{
  
      padding: 8px 0;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      background: rgb(255, 255, 255);
      flex: 1 1 0%;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      transition: color 0.2s ease 0s;
  }
  .stt-list:hover{
    border-bottom: 2px solid indianred;
  }
  .nav-tabs {
    border-bottom:none;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: indianred;
    background-color: #fff;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border: none;
  }
  .nav-tabs .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  
  .img-order-list{
    width: 60px;
    height:60px;
  }
  .name-order-list{
    font-size: 16px;
  }
  .total-order-list{
    font-size: 12px;
  }
  .price-order-list{
    color: indianred;
    font-size: 16px;
    text-align: center;
    padding: 15px;
  }
  .border-order{
    border-bottom: 1px solid #ebebeb;
  }
  .total-order{
    font-size: 16px;
    text-align: end;
    border-top: 1px solid rgb(220, 172, 172);
  }
  .price-order{
    padding: 20px 40px;
    color: indianred;
  }
  .footer-order{
    display: flex;
      justify-content: space-between;
  }
  .time-order{
    padding-left: 20px;
    padding-top: 20px;
    color: rgb(113, 102, 102);
    font-size: 14px;
  
  }
  .btn-each-order{
  
    padding-bottom: 20px;
    padding-right: 40px;
  }
  .contact-order{
    padding: 5px 20px;
    margin-right: 20px;
    background: rgb(230, 125, 125);
    color: white;
    border: none;
  }
  .cancel-order{
    padding: 5px 20px;
    border: 1px solid #ebebeb ;
    background: #ffffff;
  }
  .contact-order:hover{
    background: indianred;
    color: white;
  }
  .cancel-order:hover{
  
    border: 1px solid #ebebeb ;
    background: #fff8f8;
  }
  .each-order {
    background: white;
    margin-top: 10px;
  }
  .detail-order-list{
    align-items: center;
    border-bottom: 1px solid #cfcdcd;
    padding: 20px;
  }
  .detail-order-list:nth-last-child(1){
    border-bottom: none;
  }
  .wrap-list{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
  }
  .col-3{
    padding-left: 40px;
    padding-top: 20px;
    font-size: 20px;
  }
  
  .link1{
    color: #333;
  }
  .link1:hover{
    color: #333;
  }
  .container-dh{
    padding: 10px;
  } 
  .dh{
    padding: 20px;
  }
  .profile-user{
    margin-top: 50px;
    background-color: #fdf4f4;
    min-height: 500px;
  }
  .wrap-profile{
    padding: 20px;
  }
  .profile-frame{
    font-size: 16px;
    height: 360px;
  
  }
  .profile-input{
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
  }
  .head-profile-frame-admin{
    display: flex;
      justify-content: space-between;
      align-items: baseline;
    padding-left: 20px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(202, 202, 202);
    margin-bottom: 20px;
  }
  .change-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .search-item-admin{
    width: 500px;
  }
  .head-profile-frame{
    padding-left: 20px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(202, 202, 202);
    background: white;
    margin-bottom: 20px;
  }
  .body-profile-frame{
    background: white;
    display: flex;
    margin-top: 10px;
    padding-left: 30px;
    height: 300px;
  }
  .sub{
    font-size: 16px;
  }
  .profile-input > label{
    width: 120px;
  
  }
  .change{
    border: none;
    color: indianred;
    margin-left: 7px;
    text-decoration: underline;
    background: none;
  }
  .profile-avatar{
    margin-top: 10px;
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 50%;
    border: 1px solid indianred;
  }
  #anh-sub{
    width: 150px;
    font-size: 12px;
    color: indianred;
    text-align: center;
  }
  
  #save-info{
   border: 1px solid indianred;
   color: indianred;
  }
  .body-profile-frame-change{
    margin-top: 10px;
    background: white;
      display: flex;
      padding-left: 30px;
      min-height: 380px;
  }

  .cls-input{
    width: 300px;
    min-width: auto;
    padding: 0px 5px;
  }
  #change-info{
    color: indianred;
    border: rgba(205, 92, 92, 0.062);
    padding: 5px 10px;
    border-radius: 3px;
    background: rgba(205, 92, 92, 0.062);

  }
  #change-info:hover{
    background: indianred;
    color: white;
  }
  
  #btn-change-avt{
    margin-top: 5px;
    display: block;
    padding: 5px;
    border: 1px solid rgb(164, 158, 158);
    background: rgb(255, 251, 251);
    cursor: pointer;
    border-radius: 3px;
    width: fit-content;
  }
  
  #btn-change-avt:hover{
    background: #f5efef;
  }
  .wrap-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-input-pass{
    display: flex;
    margin-top: 20px;
  }
  .profile-input-pass > label{
  width: 200px;
  
  }
  #fogot-pass{
    color: indianred;
    margin-left: 5px;
  }
  
  
  .wrap-noti{
    margin-top: 10px;
    background: white;
  }
  .profile-frame-noti{
    font-size: 16px;
  }
  .body-noti{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #cfcdcd;
  }
  .body-noti:nth-last-child(1){
    border-bottom: none;
  }
  .img-noti{
    width: 60px;
  }
  .detail-noti{
    font-size: 13px;
  }
  .time-noti{
    font-size: 14px;
    padding: 20px;
    text-align: end;
  }
  .user-admin{
    min-width: 1250px;
    margin-left: 10px;
  
  }
  .search-form-ad{
    min-width: 400px;
    text-align: justify;
  }
  .menu-ul-ad{
    text-align: left !important;
  }
  .input-search-ad{
    display: inline-flex;
      width: 70%;
      margin-left: 10px;
  } 
  .table-ad{
    margin: 0px;
    width: 100%;
  }
  .profile-frame-ad{
    font-size: 16px;
    padding: 30px;
    background: rgba(248, 217, 217, 0.301);
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: indianred;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px indianred;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .body-profile-frame-change.ad-tk{
    min-height: 600px;
  }
  .flex-cart{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
  }
  .title-cart{
    font-size: 24px;
      font-weight: 700;
      padding-bottom: 10px;
  }
  .topping-cart{
    font-size: 16px;
      color: rgba(0,0,0,.5)
  }
  .row11{
    width: 350px;
    text-align: left !important;
  }
  .btn-add{
    width: 90% !important;
    margin-left: -50px !important;
  }
  .span-error{
    font-style: italic;
    font-size: 14px;
    color: indianred;
  } 
  .col-sm-10{
    width: 100% !important;
  }
  .search-dh{
    margin-top: 10px;
    font-size: 15px;
  }
  .search-dh input[type=text] {
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    border: 1px solid grey;
    float: left;
    width: 95%;
    background: #f1f1f1;
  }
  
  .search-dh button {
    float: left;
    width: 5%;
    background: rgb(224, 111, 111);
    color: white;
    line-height: 30px;
    height: 30px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    z-index: 50000;
  }
  
  .search-dh button:hover {
    background: rgb(205, 92, 92);
  }
  
  .search-dh::after {
    content: "";
    clear: both;
    display: table;
  }
  .fa-search:before {
    content: '\e802';
  }
  .admin-img-item{
    width: 50px;
  }
  .edit-item{
    border: none;
    background: none;
    color: #969191;
    font-size: 1.4rem;
    margin-top: -4px;
  }
  
  .fa-edit:hover{
    color: #403D3D;
    opacity: 1;
  }
  
  
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    margin: 0 auto;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
  
  }
  
  .modal-body {
    padding: 1rem;
  }
  
  .modal-footer {
    display: flex;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
  }
  
  .modal-footer>:not(:first-child) {
    margin-left: .25rem;
  }
  .div-edit-item{
    padding: 10px;
  }
  #img-edit-item{
  width: 200px;
  text-align: center;
  }
  .div-edit-item label{
    width: 100px;
  }
  .admin-img-edit-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #btn-edit-img-item{
    margin-top: 8px;
      padding: 3px;
      border-radius: 3px;
      border: 1px solid rgb(164, 158, 158);
  background: rgb(255, 251, 251);
  }
  
  #btn-edit-img-item:hover{
  background: #f5efef;
  }
  .btn-save-edit{
    background: rgb(224, 111, 111);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 3px;
    height: 38px;
  }
  .btn-save-edit:hover{
    background: indianred;
    color: white;
  }
  .type-eidt-item{
    width: 181.6px;
  } 
  #btn-print{
    margin-left: 5px;
    border: 1px solid indianred;
    border-radius: 3px;
    background: none;
    color: indianred;
  
  }
  #btn-print:hover{
    background: #f7e0e0;
  }
  .head-select-item{
    display: flex;
    justify-content: space-between;
  
  }
  .add-item{
    display: flex;
    justify-content: end;
    height: 38px;
  }
  #btn-add-item{
    background: rgb(224, 111, 111);
    color: white;
    padding: 4px;
    border: none;
    border-radius: 3px;
  }
  #btn-add-item:hover{
    background: indianred;
    color: white;
  }
  .btn-status-admin{
    border: 1px solid indianred;
    color: indianred;
  }
  .btn-status-admin:hover{
    border: 1px solid indianred;
    background-color: #f7e0e0;
  }
  .period-order >input{
    width: 200px;
    height: 100%;
  }
  .period-order{
    flex-grow: 2;
    padding-left: 10px;
  }
  .info-order{
    border: none;
    background: none;
    color: #969191;
    font-size: 1.4rem;
    margin-top: -4px;
  }
  
  .fa-info-circle:hover {
    color: #403D3D;
    opacity: 1;
  }
  .info-order:hover .info-detail-order{
    display: block;
  }
  .checkbox-confirm{
    margin-left: 40%;
  }
  .admin-detail-order-list{
    align-items: center;
    padding-left: 20px;
  }
  .admin-price-order{
    padding-right: 20px;
    color: indianred;
    text-align: end;
  }

.not-found{
  padding: 165px;
}
.profile-form{
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.change-profile-form{
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
#changepass{
  margin-top: 20px;
}
.text-sp{
  width: 200px;
}
.text-sl{
  width: 120px;
  text-align: center;
}
.text-gia{
  width: 100px;
  text-align: end;
}
.top-total{
  font-size: 13px;
  font-style: italic;
}
.btn-continue{
  margin-top: 40px;
  margin-left: 0px !important;
}
.sao{
  color: rgb(224, 101, 101);
  font-size: 13px;
}
.dh-empty{
  max-width: 1150px;
  text-align: center;
}
.btn-empty{
  margin-top: 50px;
  margin-right: 50px;
}
.img-empty{
  width: 25%;
}
.tb-change{
    padding: .5rem 2rem !important;
    min-width: 900px !important;
    text-align: center !important;
}
.td-change{
  display: flex;
  flex-direction: column;
}
.table-change{
  margin: 0px !important;
  width: 70%;
}
.owl-theme{
  display: flex;
}
#owl-demo .item-slide{
  margin: 3px;
}
#owl-demo .item-slide img{
  display: block;
  width: 100%;
  max-height: 125px;
}
.slide-change{
  max-width: 500px;
}
.td-plus{
  width: 200px;
}
.tb-addplus{
  margin-top: 30px;
  margin-left: 40px;
}
.img-ava{
   width: 15%;
    margin-bottom: 10px;
    border-radius: 20px
}
.order-cpt{
  max-width: 1350px;
}