<body style="margin-top: 120px;">
    <h1>Sản Phẩm này không tồn tại</h1>

<section class="error-container">
  <span class="four"><span class="screen-reader-text">4</span></span>
  <span class="zero"><span class="screen-reader-text">0</span></span>
  <span class="four"><span class="screen-reader-text">4</span></span>
</section>
<p class="zoom-area"><b>Click</b> vào nút bên dưới để quay về trang chủ </p>
<div class="link-container">
  <a href="/" class="more-link">Trang chủ Bông food & drink</a>
</div>
</body>

<link rel="stylesheet" href="/css/unknown.css">
